{% extends "base.html" %}

{% block titulo %} Cotizaciones realizadas {% endblock %}

{% block contenido %} 
<div class="card">
    <div class="card-header">
        Listar Cotizaciones
    </div>
    <div class="card-body">
        <h4 class="card-title">Cotizaciones</h4>

        <div class="table">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Medio de Pago</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cotizacion in cotizaciones %}
                    <tr class="">
                        <td>{{ cotizacion.id }}</td>
                        <td>{{ cotizacion.Nombre }}</td>
                        <td>{{ cotizacion.Telefono }}</td>
                        <td>{{ cotizacion.Correo }}</td>
                        <td>{{ cotizacion.Dirección }}</td>
                        <td>{{ cotizacion.Producto }}</td>
                        <td>{{ cotizacion.Medio_de_pago }}</td>
                        <td>{{ cotizacion.Precio_Total }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="#" role="button">Exitoso</a> 
                            | <form action="" method="DELETE">
                                <input type="number" hidden value="{{ cotizacion.id }}" name="id">
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
{% endblock %}