{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrodomésticos</title>
    <link rel="stylesheet" href="{% static 'C:\Proyecto\sistema\libreria\static\css\Formulario.css' %}">
    

</head>
<body> 
    <header>
        <div class="container">
            <p class="logo">Electrodomésticos GELMAR</p>
            <nav>
                <a href="tatiana.html">Inicio</a>
                <a href="productos.html">Nuestros Productos</a>
                <a href="http://localhost/usuarios/index.html">Iniciar Sesión</a>
            </nav>
        </div>
    </header>
    
    <section class="title">
        <h3>Producto seleccionado</h3>
    </section>

    <section>
        <div class="producto-select">
            <img src="http://localhost/usuarios/Interfaz_Producto/Nevera Challenger 317 lts no frost.png">
        </div>

        <div class="name">
            <h4>
                Nevera Challenger 317 lts no frost
            </h4>
        </div>
    </section>
    <div id="formu">
        <div class="contenedor">
            <h2>Formulario de compra</h2>
            <form action="#" method="POST">
                <div class="elemento">
                    <input type="text" name="Nombre" placeholder="Nombre">
                </div>
                <div class="elemento">
                    <input type="tel" name="Telefono" placeholder="Teléfono">
                </div>
                <div class="elemento">
                    <input type="email" name="Correo" placeholder="Correo Eléctronico">
                </div>
                <div class="elemento">
                    <input type="text" name="Dirección" placeholder="Dirección">
                </div>
                <div class="elemento3">
                    <select name="Producto" id="Producto">
                        <option value="Tv lg computadora">Tv LG samsung</option>
                    </select>
                </div>
                <div class="elemento3">
                    <select name="precio" id="precio">
                        <option value="31351351">$1521212</option>
                    </select>
                </div>
                <div class="elemento3">
                    <select name="Medio_de_pago" id="Medio_de_pago">
                        <option value="Contra entrega">Contra entrega</option>
                        <option value="Daviplata">Daviplata:3242814841</option>
                        <option value="Nequi">Nequi:3242814841</option>
                    </select>
                </div>
                <div class="elemento3">
                    <select name="Precio_Total" id="Precio_Total">
                        <option value="3521353">1651651</option>
                    </select>
                </div>

                <div class="elemento2">
                    <input type="submit" value="Enviar pedido">
                </div>
            </form>
        </div>
</div>
</body>
</html>


